@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
    background-color: #423F3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
h1 {
    color: #a6a2a0;
    width: 100vw;
    margin: 0 0 5rem 0;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
    letter-spacing: 0.2em;
}

.container {
    display: flex;
}

.container a {
    border: 5px solid #a6a2a0;
    height: 100px;
    width: 100%;
    text-decoration: none;
}

.container a:hover {
    background-color: #87817f;
}

h2 {
    text-align: center;
    color: #fff;
}



@media only screen and (min-width: 600px) {
    .container {
        width: 90vw;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        width: 80vw;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 80vw;
        margin: 0 auto;
    }
}