.brand {
  font-size:1.8rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 100px 15px;
}

.header {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/bg.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  color: white;
}

.home p:nth-child(1){
  font-size: 5rem;
  font-weight: bold;
  animation-name: colorchange;
  animation-duration:4s;
  animation-iteration-count: infinite;
  color: rgb(229, 234, 219);
}

.home p:nth-child(3){
  font-size: 1.5rem;
  font-weight: bold;
  background-color: darkgray;
  margin: 15px 320px;
  padding: 5px;
}

.home p:nth-child(2){
  font-size: 2.5rem;
  font-weight: bold;

}

.navitems {
  display: flex;
}
.navitems ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navitems ul:nth-child(2) {
  flex-grow: 8;
  display: flex;
  justify-content:flex-end;
  flex-wrap: wrap;
}

.navitems ul:nth-child(2) a {
  padding-top: 1.3rem;
}

.navitems li {
  float: left;
}

.navitems li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  height: 100%;
}

.navitems li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.button{
  background:linear-gradient(45deg, blue, red);
  border: #626467 solid 3px;
  /* backdrop-filter: blur(5px); */
  font-size: large;
  /* width: 100px; */
  border-radius: 5px;
  padding: 15px 100px 15px 100px;
}

.button:hover{
  background: linear-gradient(45deg, red, blue);
}

@keyframes colorchange {
  from {color: rgb(229, 234, 219);}
  to {color: rgb(244, 216, 216);}
}

@media (max-width: 800px) {
  .home {
    padding: 15px 15px;
  }

  .navitems {
    flex-direction: column;
  }

  .navitems ul:nth-child(1) {
    display: flex;
    justify-content:center;
  }

  .navitems ul:nth-child(2) {
    justify-content:center;
  }

  .navitems ul:nth-child(2) a{
    padding-top: auto;
  }

  .home p:nth-child(1){
    font-size: 2.5rem;
    font-weight: bold;
  
  }

  .home p:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 15px;
    padding: 5px;
  }

  .home p:nth-child(3){
    font-size: 1.2rem;
    font-weight: bold;
    background-color: darkgray;
    margin: 20px 15px;
    padding: 5px;
  }
}