.goToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 3rem; /* Increase font size */
  font-weight: bold;
}

.goToTop:hover {
  color: #555; /* Add a dark-grey background on hover */
}


.skills {
  background-color: darkgray;
}

.home {
  /* padding: 100px 15px; */
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.home h1 {
  font-size: 5rem;
  font-weight: bold;
  animation-name: colorchange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color: rgb(229, 234, 219);
}

.home p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: darkgray;
  margin: 15px 320px;
  padding: 5px 100px;
  border-radius: 15px;
}

.home .animatedText {
  font-size: 2.5rem;
  font-weight: bold;
}

.button {
  background: transparent;
  border: white solid 3px;
  backdrop-filter: blur(2px);
  font-size: 1.5rem;
  font-weight: bold;
  /* width: 100px; */
  border-radius: 5px;
}

.button:hover {
  background: #a9a9a9;
}

@keyframes colorchange {
  from {
    color: rgb(229, 234, 219);
  }
  to {
    color: rgb(244, 216, 216);
  }
}

@media (max-width: 996px) {

  .home h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .home .animatedText {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 15px;
    padding: 5px;
  }

  .home p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: darkgray;
    margin: 20px 15px;
    padding: 5px 8px;
  }
}
