/* New Css for go to top button */
.goToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #111111;
  border: none;
  border-radius: 50%;
  padding: 9px 10px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999;
  opacity: 0.8;
  visibility: hidden;
}

.goToTopBtnVisible {
  visibility: visible;
}

.goToTopBtn:hover {
  opacity: 1;
  transform: scale(1.1);
}
.upArrow {
  fill: white;
  width: 35px;
  height: 35px;
}

.skills {
  background-color: darkgray;
}
/*
.home {
   padding: 100px 15px; 
}*/

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.home h1 {
  font-size: 5rem;
  font-weight: bold;
  animation-name: colorchange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color: rgb(229, 234, 219);
}

.home p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: darkgray;
  max-width: 600px;
  padding: 20px 0;
  border-radius: 15px;
}

.home .animatedText {
  font-size: 2.5rem;
  font-weight: bold;
}

.button {
  background: transparent;
  border: white solid 3px;
  backdrop-filter: blur(2px);
  font-size: 1.5rem;
  font-weight: bold;
  /* width: 100px; */
  border-radius: 5px;
}

.button:hover {
  background: #a9a9a9;
}

@keyframes colorchange {
  from {
    color: rgb(229, 234, 219);
  }
  to {
    color: rgb(244, 216, 216);
  }
}

@media (max-width: 996px) {
  .home h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .home .animatedText {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 15px;
    padding: 5px;
  }

  .home p:nth-child(3) {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: darkgray;
    margin: 20px 15px;
    padding: 5px 8px;
  }
}
